@tailwind base;
@tailwind components;
@tailwind utilities;


.landing-page-parent .left-sec {
    background-color: #605BFF;
    clip-path: polygon(0% 0%, 100% 0, 88% 50%, 75% 100%, 0% 100%);
}
.landing-page-parent {
    background-color: #F6F8FD;
}
.admin-page-parent .right-sec{
    background-color: #F6F8FD;
}